/* This sets the overall frame for the site */
body {
	font-family: 'Karla', sans-serif;
}

a:hover {
  color: #33b771;
  text-decoration: none;
}


/*Top banner CSS*/
.banner {
	width: 95%;
	display: block;
	margin: auto;
}


/*Life log CSS*/
table.logtable td.col1 { width: 100px; align='left'}
table.logtable td.col2 { width: 460px; align='left'}

.logdate {
  font-size: 12px;
  color: #999999; 
  font-weight: bold;
}


/*Photography CSS*/
.photo {
	width: 50%;
	height: 50%;
	display: block;
	margin: auto;
}

/*Blog CSS*/
.blog-list-title {
  font-size: 28px;
  vertical-align: middle;
  font-weight: bold;
  vertical-align: middle;
  line-height: 25px; 
  margin: 1px;
  padding: 0;
}

.blog-list-abstract {
  display: block;
  font-size: 17px;
  vertical-align: middle;
}

.blog-list-date {
  color: #666666;
  font-size: 17px;
  margin: 0;
  padding: 0;
}

.blog-photo {
  width: 50%;
  height: 50%;
}