/*----------------------------------------------------------------------------*/
/* Base CSS */

body {
  font-family: 'Assistant', sans-serif;
}

a {
  color: #6b93f2;
  text-decoration: none;
}

a:hover {
  color: #33b771;
  text-decoration: none;
}

ul {
  list-style-type: none; /* No bullet points */
  padding: 0;
  margin-left: 19px;
}

/*----------------------------------------------------------------------------*/
/* Layouts */

.top-menu-bar {
  font-size: 1.2em;
  text-align: right;
  display: block; /* Make the links appear below each other */
  padding-top: 0.25em;
  padding-right: 1em;
}

.photo {
  width: 100%;
  height: auto;
  padding-top: 2%;
  padding-bottom: 3%;
}

.homepage-content {
  font-size: 1.8em;
  padding-left: 1.2em;
  padding-right: 1.2em;
}

/*----------------------------------------------------------------------------*/

/* Index */
.card-hr {
  text-align: left;
  height: 1px;
  width: 60px;
  margin-left: 0;
  background: black;
}

/*----------------------------------------------------------------------------*/
/* About */

.about {
  font-size: 1.4em;
}

#about-external-links {
  padding-top: 0.5em;
}

#about-external-links ul {
  margin-left: 0;
}

#about-external-links li {
  display: inline;
  padding: 0.2em;
  opacity: 0.5;
}

#about-external-links li:hover {
  opacity: 1;
}

/*----------------------------------------------------------------------------*/
/* Photos */

.photos-directory-cover {
  width: 100%;
  height: auto;
}

.photo-section-header {
  padding-bottom: 2%;
  text-align: center;
}

/*----------------------------------------------------------------------------*/
/* Prints */

.prints-text {
  font-size: 1.8em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-bottom: 1.2em;
}

/*----------------------------------------------------------------------------*/
/* Life log */

.life-log {
  font-size: 1.4em;
}

.log-date {
  font-size: 0.6em;
  color: #999999;
  font-weight: bold;
}

/*----------------------------------------------------------------------------*/
/* Notes list */

.notes-list-title {
  font-size: 1.9em;
  vertical-align: middle;
  vertical-align: middle;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

.notes-list-abstract {
  display: block;
  font-size: 1.4em;
}

.notes-list-date {
  color: #666666;
  font-size: 1.3em;
  margin: 0;
  padding: 0;
}

/*----------------------------------------------------------------------------*/
/* Inidvidual note */

.note-date {
  font-size: 1.7em;
  text-align: center;
  margin: 0;
  padding: 0;
}

.note-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.note-abstract {
  font-size: 1.4em;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  padding-top: 18px;
  padding-right: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
}

#note {
  font-size: 1.4em;
}

.note-photo {
  width: 80%;
  height: 80%;
  display: block;
  margin: 0 auto;
}

/*----------------------------------------------------------------------------*/
/* Projects list */

.projects-list-headers {
  margin: 0;
  padding: 0;
}

.projects-list-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  vertical-align: middle;
  vertical-align: middle;
  line-height: 25px;
  margin: 1px;
  padding: 0;
}

.projects-list-recognitions {
  color: #666666;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.projects-list-technologies {
  color: #666666;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.projects-list-abstract {
  display: block;
  font-size: 15px;
  vertical-align: middle;
}

.projects-list-photo {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

/*----------------------------------------------------------------------------*/
/* Individual project */

.project-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 26px;
  margin: 0;
  padding: 0;
}

.project-abstract {
  font-size: 17px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  padding-top: 18px;
  padding-right: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
}

.project-date {
  font-size: 17px;
  margin: 0;
  padding: 0;
}

.project-photo-left {
  width: 50%;
  height: 50%;
  display: inline;
  float: left;
}

.project-photo-right {
  width: 50%;
  height: 50%;
  display: inline;
  float: right;
}

.project-photo-center {
  width: 50%;
  height: 50%;
  display: block;
  margin: 0 auto;
}

.project-recognitions {
  font-size: 17px;
  margin: 0;
  padding: 0;
}

.project-technologies {
  font-size: 17px;
  margin: 0;
  padding: 0;
}

.project-collaborators {
  font-size: 17px;
  margin: 0;
  padding: 0;
}