/*Overall frame for site*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;500;600;700&display=swap');

body {
  font-family: 'Assistant', sans-serif;
}

p {
  /* font-size: 1.2em; */
}

a {
  color: #6b93f2;
  text-decoration: none;
}

a:hover {
  color: #33b771;
  text-decoration: none;
}

ul {
  list-style-type: none; /* No bullet points */
  /* margin-left: 19px; */
  padding: 0;
}

/*----------------------------------------------------------------------------*/
/*Homepage*/

.banner {
  width: 95%;
  display: block;
  margin: auto;
}

/*----------------------------------------------------------------------------*/
/*Life log*/

table.logtable td.col1 { width: 100px; align='left'}
table.logtable td.col2 { width: 460px; align='left'}

.logdate {
  font-size: 12px;
  color: #999999;
  font-weight: bold;
}

/*----------------------------------------------------------------------------*/
/*Notes list*/

.notes-list-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  vertical-align: middle;
  vertical-align: middle;
  line-height: 25px;
  margin: 1px;
  padding: 0;
}

.notes-list-abstract {
  display: block;
  font-size: 16px;
  vertical-align: middle;
}

.notes-list-date {
  color: #666666;
  font-size: 17px;
  margin: 0;
  padding: 0;
}

/*----------------------------------------------------------------------------*/
/*Inidvidual note*/

.note-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.note-abstract {
  font-size: 17px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  padding-top: 18px;
  padding-right: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
}

.note-date {
  font-size: 22px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.note-photo {
  width: 80%;
  height: 80%;
  display: block;
  margin: 0 auto;
}

#note {
  font-size: 16px;
}

/*----------------------------------------------------------------------------*/
/*Projects list*/

.projects-list-headers {
  margin: 0;
  padding: 0;
}

.projects-list-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  vertical-align: middle;
  vertical-align: middle;
  line-height: 25px;
  margin: 1px;
  padding: 0;
}

.projects-list-recognitions {
  color: #666666;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.projects-list-technologies {
  color: #666666;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.projects-list-abstract {
  display: block;
  font-size: 15px;
  vertical-align: middle;
}

.projects-list-photo {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

/*----------------------------------------------------------------------------*/
/*Individual project*/

.project-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 26px;
  margin: 0;
  padding: 0;
}

.project-abstract {
  font-size: 17px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  padding-top: 18px;
  padding-right: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
}

.project-date {
  font-size: 17px;
  margin: 0;
  padding: 0;
}

.project-photo-left {
  width: 50%;
  height: 50%;
  display: inline;
  float: left;
}

.project-photo-right {
  width: 50%;
  height: 50%;
  display: inline;
  float: right;
}

.project-photo-center {
  width: 50%;
  height: 50%;
  display: block;
  margin: 0 auto;
}

.project-recognitions {
  font-size: 17px;
  margin: 0;
  padding: 0;
}

.project-technologies {
  font-size: 17px;
  margin: 0;
  padding: 0;
}

.project-collaborators {
  font-size: 17px;
  margin: 0;
  padding: 0;
}

.nav-link {
  padding-left: 0 !important;
}

.top-menu-bar {
  font-size: 1.2em;
  text-align: right;
  display: block; /* Make the links appear below each other */
  padding-top: 1em;
  padding-right: 1em;
}

.photo-cover {
  width: 100%;
}

.header {
  /* font-family: 'Source Serif Pro', serif; */
  font-size: 2em;
  padding-bottom: 5%;
  font-weight: 500;
}

.photo-gallery {
  width: 100%;
  height: auto;
  padding-bottom: 5%;
}

.photo {
  width: 100%;
  height: auto;
  padding-bottom: 5%;
}

#about-external-links li {
  display: inline;
  padding: 0.2em;
  opacity: 0.6;
}

#about-external-links li:hover {
  display: inline;
  padding: 0.2em;
  opacity: 1;
}

.content {
  font-size: 1.8em;
  padding-left: 1.2em;
  padding-right: 1.2em;
}

.about {
  font-size: 1.4em;
}

/*----------------------------------------------------------------------------*/
/* Footer */

.footer {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(245, 245, 245);
  /* background-color: rgb(25, 25, 25); */
  text-align: center;
  bottom: 0; /* Keep footer at bottom of the page */
  position: fixed;
}
.footer ul {
  margin-bottom: 0;
  padding: 0;
}
.footer li {
  display: inline-block;
  list-style: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/*----------------------------------------------------------------------------*/

.homepage-header {
  padding-top: 10%;
  padding-bottom: 15%;
}

.photo-section-header {
  padding-bottom: 1%;
  text-align: center;
}
